{% if desc_note %}[quote]{{ desc_note }}[/quote]{% endif %}
{% if nfo_text %}[code]{{ nfo_text }}[/code]{% endif %}
[center]
---------------------- [size=22]Screenshots[/size] ----------------------
{{ img_bbcode }}

Uploaded with [color=red]❤[/color] using [url=https://github.com/ryelogheat/xpbot]XpBot[/url]
[/center]
